In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('E:\\working_DATA\\Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
X = df.iloc[:, 1:4]
y = df.iloc[:, 4]

In [5]:
X=pd.get_dummies(X,drop_first=True)
X

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42)

In [7]:
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier()

In [8]:
from sklearn.model_selection import GridSearchCV
para=dict()
para['n_estimators']=[30,50,100,500]
para['learning_rate']=[0.1,0.01,0.001,0.0001,0.00001]

grid=GridSearchCV(abc,param_grid=para,cv=10,scoring='accuracy')
grid.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=AdaBoostClassifier(),
             param_grid={'learning_rate': [0.1, 0.01, 0.001, 0.0001, 1e-05],
                         'n_estimators': [30, 50, 100, 500]},
             scoring='accuracy')

In [9]:
y_prd=grid.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,y_prd)

0.93

In [11]:
print(classification_report(y_test,y_prd))

              precision    recall  f1-score   support

           0       0.92      0.97      0.95        63
           1       0.94      0.86      0.90        37

    accuracy                           0.93       100
   macro avg       0.93      0.92      0.92       100
weighted avg       0.93      0.93      0.93       100